.preloader {
  display: block;
  text-align: center;
}

.result-message {
  display: none;
}

.vertical-centering {
  align-items: center;
  min-height: 100vh;
}

.result-message h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.result-message img {
  max-width: 100%;
}

#result-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  padding: 2rem;
  width: 30%;
  margin: 0 auto;
}

#result-image img {
  aspect-ratio: 0.5;
  max-height: calc(100vh / 1.5);
}