/* Header */
body {
    background-color: #fff;
}

.logo-header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    left: 0;
    padding: 1rem 0;
    background-color: #252525;
    z-index: 999;
}

.logo-header img {
    width: 100%;
    max-width: 200px;
}

/* Footer */
.wizard-footer {
    background-color: #827F76;
    width: 100%;
    left: 0;
    padding: 1rem .5rem;
    position: fixed;
    bottom: 0;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}

.wizard-footer a {
    color: #fff;
    opacity: .3;
}

.wizard-footer a.active {
    opacity: 1;
}

.modal-content{
    background: #4a4a4a;
}

.modal-content .modal-header,
.modal-content .modal-footer{
    border:0
}

.modal-content .btn-close{
    color:#fff;
}

.modal-content .btn.btn-primary{
    background: #252525;
    border-color: #252525;
}

.modal-content .modal-title{
    color:#fff;
}


.modal-content .modal-body #uploadForm .btn-primary{
    margin-top: 1rem;
    width:100%
}

.modal-content .modal-body #uploadForm input{
    color:#fff;
}
